.directory
*.swp
.*.swo
.kk.log
.viminfo
*~
target/*
junk/*
src/test/java/latex/*_tex_test/*.aux
src/test/java/latex/*_tex_test/*.idx
src/test/java/latex/*_tex_test/*.log
src/test/java/latex/*_tex_test/*.out
src/test/java/latex/*_tex_test/*.pdf
src/test/java/latex/*_tex_test/*.toc
src/test/java/latex/*_tex_test/*.md5
src/test/java/latex/*_tex_test/*.nlo
src/test/java/latex/*_tex_test/*.auxlock
src/test/java/latex/mazhe_tex_test/*
src/test/java/latex/ecm*_tex_test/obtained_result.tex
src/test/java/latex/multiple_input_tex_test/obtained_result.tex
session.vim
